<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vibes</title>
    <style type="text/css">
        @media screen {
            @font-face {
                font-family: 'Pacifico';
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }
        }
        @media screen and (max-width:600px) {
            #main {
                width: 75% !important;
            }
        }
    </style>
</head>
<body>
    <div id="main" style="width: 25%; margin: auto; text-align:center">
        <div style="font-family: 'Roboto', 'RobotoDraft', Helvetica, Arial, sans-serif;font-size: 32px;">
            Fuonle
        </div>
        <div style="font-size: 15px;font-family: 'Roboto', 'RobotoDraft', Helvetica, Arial, sans-serif;">
            <h3><b>We welcome you to Fuonle, {{username}}</b></h3>
            <p style="text-align:left">
                We are very happy that you have decided to start developing part 
                of your learning with us
            </p>
            <p style="text-align:left">
                Whether you decide to create a classroom to teach, access a classroom to learn, 
                search for information in our library or help our community by uploading documents, 
                we want your experience in Fuonle to be the most pleasant
            </p>
            <p style="text-align:left">     
                We will keep you informed of all the improvements in Fuonle
                For more information on the use of Fuonle, do not forget to
                 access the <b>FAQ</b> section, in the footer
            </p>
            <p style="text-align:center">
                A greeting, <br>
                Fuonle Company.
            </p>
            <small style="margin-top: 2em; font-size: 0.8em; color: rgb(206, 206, 206);text-align:left;">
                This message has been sent to the address {{email}}, but it was aimed at <b>{{username}}</b>.
                Fuonle sends you updates like this to help you stay up to date with the latest news.
                You can delete this email if this is not your Fuonle account.
            </small>
        </div>
    </div>
</body>
</html>